@charset "utf-8";
body{min-width: 1226px;}
.container{width: 1226px;margin: 0 auto;}
h2{color: #333;font: 22px/22px 'Microsoft YaHei', Arial, sans-serif;padding: 20px 0;float: left; }
.topbar{height: 40px;color: #424242;font: 12px/40px 'Microsoft YaHei', Arial, sans-serif;background: #333;}
.sep{width: 16px;display: inline-block;text-align: center;}
.topbar a{color: #b0b0b0;}
.topbar-nav a:hover,.top-info a:hover{color: #fff;}

/*弹出层样式*/
#showbox{width: 664px;height: 488px;background: #fff;position: absolute;top: -488px;left: 50%;margin-left: -332px; z-index: 999;opacity: 1;}
#showbox h3{height: 60px; font:16px/60px 'Microsoft YaHei', Arial, sans-serif;font-weight: normal; background: #f5f5f5;padding-left: 20px;}
#showbox h3 span{width: 32px;height: 32px; background: url(../images/close.png) no-repeat center center;display: inline-block;float: right;margin: 14px 10px 0 0;cursor: pointer;}
#showbox .box-title{text-align: center;}
#showbox h4{color: #444; font-size: 30px;padding-top: 42px;}
#showbox p{font-size: 17px; padding-top: 10px;}
#showbox .box-text{margin: 36px 0 0 94px;}
#showbox .box-text ul{margin-right: 20px; float: left;}
#showbox .box-text ul li{margin-bottom: 20px;}
#showbox .box-text ul a{width: 140px;height: 40px;line-height: 40px; font-size: 14px;background: #eee;text-align: center;display: block;}
#showbox .box-text ul a:hover{color: #fff; background: #ff7800;}
#screen{width: 100%;height: 100%; background: #333;opacity: 0.1; position: absolute;top:0;left: 0; z-index: 998;display: none;}

.top-cart,.cart-show{width: 120px;float: right;position: relative;}
.top-cart a{width: 78px;background: #424242 url("../images/cart.png") no-repeat 18px center;padding-left: 42px;display: block;}
.cart-show a{width: 78px;height: 40px;color: #ff7800;background: #fff url("../images/cart2.png") no-repeat 18px center;padding-left: 42px;display: block;}
.cart-show a:hover{color: #ff7800;}
.cart-mini{width: 78px;background: #424242 url("../images/cart.png") no-repeat 18px center;padding-left: 42px;display: block;float: right;}
.cart-show{width: 78px;height: 40px;background: #fff url("../images/cart2.png") no-repeat 18px center;padding-left: 42px;display: block;float: right;}
.cart-show a:hover{color:#ff7800;}
.cart-menu{width: 318px;height: 100px;line-height: 100px;color: #666;background: #fff;-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);-o-box-shadow: 0 5px 5px rgba(0,0,0,.1);-moz-box-shadow:0 5px 5px rgba(0,0,0,.1);;box-shadow: 0 5px 5px rgba(0,0,0,.1);border: 1px solid #eee; border-top: none;  text-align: center;position: absolute;top: 40px;right: -1px;z-index: 15; display: none;}
.top-info{margin-right: 20px; }

.header{height: 100px;position: relative;}
.header{height: 100px;position: relative;}
.header-logo{width: 55px;padding-top: 22px;display: inline;}
.logo{width: 55px;height: 55px;background: url("../images/logo.png") no-repeat;display: block;text-indent: -9999px;}
.header-nav{height:88px;padding-top: 12px;margin-left: 176px;}
.nav-list{}
.nav-item{font: 16px/78px 'Microsoft YaHei', Arial, sans-serif;float: left;}
.nav-item .link{height: 88px; color: #333;padding: 0 18px;display: inline-block;}
.nav-item .link:hover{ color: #ff5400;}
.nav-item:hover .item-children{display: block;  }
/*下拉显示区*/
.item-children{width: 100%;height: 229px;line-height: 12px;background: #fff;border-top: 1px solid #eee;overflow: -hidden;position: absolute;top: 100px;left: 0;z-index: 99;display: none;}
.children-list li{width: 204px;height: 229px;font-size: 12px;float: left;}
.first:first-child .figure{border-left: none;}
.figure{width: 181px;border-left: 1px solid #eee; padding-left: 22px;margin-top: 35px;}
.title{text-align: center;margin-top: 20px;}
.title a{color: #333;}
.price{color: #ff5400;text-align: center;margin-top: 10px;}
/*下拉结束*/
.header-search{width: 296px;height: 50px;padding-top: 25px;position: relative; }
.search-text{width: 222px;height: 48px;line-height: 48px;border: 1px solid #e0e0e0;border-right: none;padding: 0 10px;}
.search-submit{width: 50px;height: 48px;background: url("../images/search.png") no-repeat center center;border: 1px solid #e0e0e0;}
.search-submit:hover{background: url("../images/search.hover.png") no-repeat;}
.search-hotwords{position: absolute;top: 42px;right: 62px;}
.search-hotwords a{color: #757575;background: #eee;padding: 0 3px; margin-left: 5px;display: inline-block;}
.search-hotwords a:hover{color: #fff;background: #ff5500;}
.selected-box{width: 242px;height:auto;background: #fff; position: absolute; top: 74px;left:0;border: 1px solid #f60;display: none;z-index: 20;}
.selected-box li{width: 222px;height:30px;line-height: 30px;padding: 0 10px;}
.selected-box a{color: #333; display: block;}
.selected-box li:hover{background: #fafafa;}
.selected-box em{font-style: normal; color: #999;}
/*header-end*/
.main{height: 1110px;}
.banner{width: 1226px;height: 474px;overflow: hidden;position: relative;}
.sliderpic{width: 700%;height: 460px;position: absolute;left: 0;top: 0;background: #eee;}
.sliderpic li {float: left;}
.arrow{width: 100%;height: 69px;position: absolute;top: 45%;z-index: 5;}
.arrow a{width: 40px;height: 69px; display: block;position: absolute;} 
#prev{left: 234px;background: url("../images/icon-slides.png") no-repeat -84px center;}
#prev:hover{background-position: left center;}
#next{right: 0;background: url("../images/icon-slides.png") no-repeat right center;}
#next:hover{background-position: -44px center;}
.sliderbtn{width: 100%;color:#705a8d;font-size: 20px;text-align: right;padding-right: 30px;position: absolute;bottom: 24px;right: 0;z-index: 4;cursor:pointer;}
.sliderbtn li {width: 6px;height: 6px;line-height: 6px;display: inline-block;background: #5b5b5b;border: 2px solid #999;border-radius: 6px;}
.sliderbtn li:hover{background: #ddd;}
.sliderbtn .on {background: #ddd;border: 2px solid #666;}
.sliderbtn .on:hover{background: none;}
.sidebar{width: 234px;height: 460px;background: rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);position: absolute;z-index: 9;}
.sidebar-list{height: 420px;margin: 20px 0;}
.sidebar-list-item{height: 42px;line-height: 42px;padding: 0 24px 0 30px;}
.sidebar-list-item:hover{background: #ff6700 url("../images/iconh.png") no-repeat 198px center;}
.sidebar-list-item:hover .sidebar-list-item-box{display: block;}
.sidebar-list-item .link{color: #fff;font-size: 14px;}
/*sidebar下拉菜单*/

.sidebar-list-item-box{height: 460px;border-top: 1px solid #eee;position: absolute;top: 0;left: 234px;z-index: 9;display: none;}
.sidebar-list-item .three{width: 780px;}
.sidebar-list-item .two{width: 520px;}
.sidebar-list-item-box-children{width: 260px;height: 460px;background: #fff;float: left;}
/*结构还有漏缺*/
.banner-bottom{height: 195px; }
.banner-bottom-site{}
.banner-bottom-site a{width: 234px; height: 170px;background: url(../images/show-site.png);margin-right: 14px;display: block;}
.banner-bottom-img{width: 978px;height: 170px;}
.banner-bottom-img a{margin-right: 15px;float: left;}
.banner-bottom-img .last{margin-right: 0;}

.star{height: 400px;overflow: hidden;position: relative;}
.star-span{width: 71px;height: 24px;display: block;background: url(../images/show-btn.png);position: absolute;top: 25px;right: 0;}
.star-arrow-one,.star-arrow-two{width: 50%;height: 100%;display: block;float: left;}
.star-list{width: 200%;height: 340px;clear: both;position: absolute;top: 71px;left: 0;}
.star-list-site li{width: 234px;height: 339px;background: #fafafa;margin-right: 14px;float: left;}
.star-list-site .one{border-top: 1px solid #ffac13;}
.star-list-site .two{border-top: 1px solid #83C44E;}
.star-list-site .three{border-top: 1px solid #2196F3;}
.star-list-site .four{border-top: 1px solid #E53935;}
.star-list-site .five{margin-right: 0;border-top: 1px solid #00c0a5;}
.star-list-site dl{width: 100%;height: 300px;  }
.star-list-site dt{height: 190px;margin: 40px 37px 0;}
.star-list-site dd{width: 100%;color: #C9C9C0;text-align: center;}
.star-list-site dd a{width: 100%;color: #333;font-size: 14px;line-height: 14px;text-align: center;margin-bottom: 10px;display: block;}
.star-list-site strong{color: #FE6709;font-weight: normal;display: block;margin-top: 20px;}
/*main-end*/
.content{height: 4540px;background: #f5f5f5;}
.content-list{height: 690px;  }
.content-list-ul li{font-size: 16px;line-height: 22px;padding: 20px 0;margin-left: 30px;float: right;}
.content-list-ul a{color: #333;}
.content-list-ul .active{color: #ff5400;border-bottom: 2px solid #ff5400;}
.content-side{width: 248px; height: 614px;clear: both;}
.content-side a{width: 248px;display: block;margin-bottom: 14px;}
.content-site{width: 978px;height: 614px;}
.content-site-child li {width: 234px;height: 300px;background: #fff;margin-right: 14px;margin-bottom: 14px;float: left;}
.content-site-child .last{margin-right: 0;}
.content-site-child .end{ background: none;}
.content-site-child .box{height: 112px;background: #fff;padding: 31px 0 0 30px;margin-bottom: 14px;}
.content-site-child .box-div{width: 80px;height: 80px;margin-right: 10px;}
.content-site-child .box-div h3 a{color: #333;font-size: 12px;line-height: 12px;font-weight: normal;text-align: left;margin: 10px 0 10px 0;display: block;}
.content-site-child .box-div p{color: #ff5400;text-align: left;}
.content-site-child .box-div p a{color: #666;}
.content-site-child .box-div img{width: 80px;height: 80px;margin: 0;}
.content-site-child .box-div .more{font-size: 18px;margin: 20px 0 10px 0;}
.content-site-child span{height: 20px;display: block;}
.content-site-child img{height: 160px;margin: 0 37px 19px;}
.content-site-child p{color: #C1C1C1;text-align: center;}
.content-site-child h3 a{width: 100%;color: #333;font-size: 14px;font-weight: normal;line-height: 14px;text-align: center;margin: 20px 0 10px 0;display: block;}
.content-site-child strong{color: #FE6709;font-weight: normal;text-align: center; display: block;margin-top: 20px;}

#smart{padding-top: 38px;}
#smart h2{width: 100%;}
#smart h2 a{color: #333;font-size: 16px;background: url(../images/more.png) no-repeat right center;padding-right: 28px;float: right;}
#match h2,#accessorie h2,#surround h2{width: 50%;}
#match .content-span-img{background: url(../images/match-p1.png) no-repeat center center;}
#surround .content-span-img{background: url(../images/surround-span.png) no-repeat center center;}
#match strong,#accessorie strong,#surround strong,.recommend strong{margin: 10px 0 18px 0;}

.recommend{height: 360px;overflow: hidden;position: relative;}
.recommend-span{width: 71px;height: 24px;display: block;background: url(../images/show-btn.png);position: absolute;top: 25px;right: 0;}
.recommend-arrow-one,.recommend-arrow-two{width: 50%;height: 100%;display: block;float: left;}
.recommend-list{width: 200%; height: 300px;clear: both;    }
.content-site-child { float: left;}

.hot{height: 440px;margin-top: 14px;}
.hot-list{width: 100%;height: 380px;clear: both;}
.hot-list ul li{width: 296px;height: 380px;background: #fff;margin-right: 14px;float: left;}
.hot-list .last{margin-right: 0;}
.hot-list-img{height: 250px;}
.hot-list-site{margin: 0 30px 0 30px;}
.hot-list-site span{font-size: 14px;display: block;margin-bottom: 10px;}
.hot-list-site span a{color: #333;}
.hot-list-site p{color: #999;margin-bottom: 20px;}
.hot-list-site h3{color: #b0b0b0;font-weight: normal;}
.hot-list-site h3 a{color: #333;}
.hot-list-site h3 .sep{width: 24px;display: inline-block;}
.hot-list-site h3 strong{color: #ff5400;font-weight: normal;}

.matter{margin-top: 14px;}
.matter-list{height: 420px;clear: both;}
.matter-list ul li{width: 296px;height: 419px;background: #fff;margin-right: 14px;float: left;position: relative;}
.matter-list .one{border-top: 1px solid #FFAC13;}
.matter-list .one h3{color: #FFAC13;}
.matter-list .two{border-top: 1px solid #83C44E;}
.matter-list .two h3{color: #83C44E;}
.matter-list .three{border-top: 1px solid #E53935;}
.matter-list .three h3{color: #E53935;}
.matter-list .last{margin-right: 0;border-top: 1px solid #2196F3;}
.matter-list .last h3{color: #2196F3;}
.matter-list-top{width: 200px;height: 320px;text-align: center;margin: 49px 48px 15px 48px;}
.matter-list-top a{color: #333;}
.matter-list-top h3{font-size: 16px;font-weight: normal;margin-bottom: 20px;}
.matter-list-top h4{font-size: 20px;font-weight: normal;margin-bottom: 10px;}
.matter-list-top p{color: #999;height: 50px;}
.matter-list-top span{font-size: 14px;display: block;margin-bottom: 15px;}
.matter-list-top img{ margin-left: 20px;}
.matter-list-btn{text-align: center;}
.matter-list-btn span{width: 6px;height: 6px;line-height: 6px;display: inline-block;background: #999;border: 2px solid #fefefe;border-radius: 6px;margin: 0 10px;cursor: pointer;}
.matter-list-btn span:hover{background: #ff6700;}
.matter-list-btn .active{background: #fff;border: 2px solid #ff6700;}
.matter-list-btn .active:hover{background: none}
.matter-list ul li:hover .matter-arrow{display: block;}
.matter-arrow{width: 100%;height: 48px;position: absolute;top: 195px;display: none;}
.matter-arrow-prev{width: 20px;height: 48px;background: url(../images/matter-arrow1.png);display: block;left: 0;}
.matter-arrow-prev:hover{background: url(../images/matter-arrow3.png);}
.matter-arrow-next{width: 20px;height: 48px;background: url(../images/matter-arrow2.png);display: block;right: 0;}
.matter-arrow-next:hover{background: url(../images/matter-arrow4.png);}

.video{margin-top: 14px; }
.video-list{width: 100%;height: 288px;clear: both;}
.video-list ul li{width: 296px;height: 288px;background: #fff;margin-right: 14px;float: left;position: relative;}
.video-list .last{margin-right: 0;}
.video-list-img{height: 210px;}
.video-list-img a{width: 296px;height: 180px;display: block;}
.video-list .img-one a{background: url(../images/video1.png) no-repeat;}
.video-list .img-one a:hover{background: url(../images/video5.png) no-repeat;}
.video-list .img-two a{background: url(../images/video2.png) no-repeat;}
.video-list .img-two a:hover{background: url(../images/video6.png) no-repeat;}
.video-list .img-three a{background: url(../images/video3.png) no-repeat;}
.video-list .img-three a:hover{background: url(../images/video7.png) no-repeat;}
.video-list .img-four a{background: url(../images/video4.png) no-repeat;}
.video-list .img-four a:hover{background: url(../images/video8.png) no-repeat;}
.video-list-site{ text-align: center;}
.video-list-site a:hover{color: #ff6700;}
.video-list-site p{color: #999;margin: 10px 0 20px 0;}
/*content-end*/
.footer{height: 272px;background: #fff;}
.footer-service{height: 80px;border-bottom: 1px solid #e0e0e0;}
.footer-service ul{width: 100%;height: 30px;padding-top: 25px;}
.footer-service ul li{width: 244px;border-right: 1px solid #e0e0e0; text-align: center;float: left;}
.footer-service .last{border-right: none;}
.footer-service ul li a{height: 25px;color: #666;line-height: 25px;font-size: 16px;text-align: center;background: #eee;  padding-left: 32px;}
.footer-service ul li a:hover{color: #ff6700;}
.footer-service .service-one{background: url(../images/service1.png) no-repeat left center;}
.footer-service .service-two{background: url(../images/service2.png) no-repeat left center;}
.footer-service .service-three{background: url(../images/service3.png) no-repeat left center;}
.footer-service .service-four{background: url(../images/service4.png) no-repeat left center;}
.footer-service .service-five{border-right: none;background: url(../images/service5.png) no-repeat left center;}

.footer-list{width: 100%;height: 112px;padding: 40px 0 41px 0;}
.footer-list-side{width: 985px;height: 112px;border-right: 1px solid #e0e0e0;}
.footer-list-side dl{width: 168px;float: left;}
.footer-list-side dt{color: #424242;font-size: 14px;line-height: 14px; margin-bottom: 30px;}
.footer-list-side dd{line-height: 12px;margin-top: 14px;}
.footer-list-side a{color: #666;}
.footer-list-side a:hover{color: #ff6700;}

.footer-contact{width: 239px;}
.footer-contact p{text-align: center;}
.footer-contact .phone{height: 20px;font-size: 20px;line-height: 20px;color: #ff6700;text-align: center;margin-bottom: 10px;}
.footer-contact p{margin-bottom: 20px;}
.footer-contact p span{color: #666;line-height: 12px;text-align: center;display: block;margin-bottom: 6px;}
.footer-contact a{width: 103px;height: 28px;line-height: 28px;color: #ff6700;text-align: center;background: url(../images/contact1.png) no-repeat 9px center;border: 1px solid #ff6700;display: block;padding-left: 15px;margin: 0 auto;}
.footer-contact a:hover{color: #fff;background: #F25807 url(../images/contact2.png) no-repeat 9px center;}

.foot-end{height: 36px;background: #fafafa;padding: 30px 0;}
.foot-end-nav{height: 36px;background: url(../images/foot-logo.png) no-repeat left center;padding-left: 45px;}
.foot-end-nav a:hover{color: #ff6700;}
.foot-end-nav-top{line-height: 12px;margin-top: 4px;}
.foot-end-nav-top a{color: #757575;font-size: 12px;}
.foot-end-nav-top .sep{width: 8px;color: #b0b0b0;text-align: center;}
.foot-end-nav p{color: #b0b0b0;line-height: 12px;margin-top: 6px;}
.foot-end-nav p a{color: #999;}
.foot-end-adver a{height: 36px;line-height: 36px;margin-left: 11px;display: block;float: left;}
.foot-end-adver a img{margin-top: 4px;}