body{
    overflow: hidden;
}

.wrapper{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.navbar, .onleft, .toright {
    width: 100%;
    height: 100px;
    background: #eee;
    line-height: 100px;
    float: left;
    transition: all .5s;
}

.navbar {
    animation: navShowHeight .5s;    
}

.onleft{
    width: calc(100vw - 300px);
    animation: navChangeWidth .5s;
}

.toright{
    width: 100%;
    animation: navToright .5s;
}

.navigation {
    width: 200px;
    height: 100%;
}

.navigation {
    float: left;
}

.menubar{
    float: right;
}
.titleh2{
    font-size: 18px;
    border-bottom: 2px solid #333;
}
.menubar ul{
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    position: relative;
}
.menubar ul li {
    float: left;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
}

.menubar ul li:hover{
    border-radius: 5px;
    background: #ccc;
}

.menubar ul li:nth-child(1) {
    animation: changeLineHeight .5s ease-in;    
}
.menubar ul li:nth-child(2) {
    animation: changeLineHeight .6s ease-in;    
}
.menubar ul li:nth-child(3) {
    animation: changeLineHeight .7s ease-in;    
}
.menubar ul li:nth-child(4) {
    animation: changeLineHeight .8s ease-in;    
}
.menubar ul li:nth-child(5) {
    animation: changeLineHeight .9s ease-in;    
}

@-webkit-keyframes changeLHeight1 {
    from {top: -80px;} to {top:0;}
}

@-webkit-keyframes changeLineHeight {
    from {line-height: 1px;} to {line-height: 80px;}
}

@-webkit-keyframes changeBorder {

}

@-webkit-keyframes navToright {
    from {width: calc(100vw - 300px);} to {width: 100;}
}

@-webkit-keyframes navShowHeight {
    from {
        height: 0;
        line-height: 10px;
    } to {
        height: 100px;
        line-height: 100px;
    }
}

@-webkit-keyframes navChangeWidth {
    from {width: 100%;} to {width: calc(100vw - 300px);}
}


.sidebar{
    width: 300px;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .5s;
    animation: sideShowWidth .5s;
}

@-webkit-keyframes sideShowWidth {
    from {width: 0;} to {width: 300px;}
}

.sidebar.hide{
    width: 0;
    animation: sideHideWidth .5s; 
}

@-webkit-keyframes sideHideWidth {
    from {width: 300px;} to {width: 0;}
}

.content {
    float: left;
    margin: 50px 0;
    width: calc(100vw - 300px);
    height: calc(100vh - 200px);
    animation: navChangeWidth .5s;
    overflow: auto;
}